model_name: efficientdet
data:
  train_annotation_path: /home/huffman/data/annotations/instances_train2017.json
  #  train_annotation_path: /home/huffman/data/annotations/instances_val2017.json
  val_annotation_path: /home/huffman/data/annotations/instances_val2017.json
  train_img_root: /home/huffman/data/train2017
  #  train_img_root: /home/huffman/data/val2017
  val_img_root: /home/huffman/data/val2017
  use_crowd: False
  batch_size: 12
  num_workers: 4
  debug: False
  remove_blank: Ture

model:
  num_cls: 80
  strides: [8, 16, 32, 64, 128]
  freeze_bn: False
  compound_coef: 0

hyper_params:
  iou_thresh: 0.5
  ignore_thresh: 0.4
  alpha: 0.25
  gamma: 1.5
  beta: 1./9
  multi_scale: [512]

optim:
  optimizer: Adam
  lr: 0.001
  momentum: 0.9
  milestones: [30,50,60]
  cosine_weights: 1.0
  warm_up_epoch: 0.
  max_norm: 5
  weight_decay: 0.00005
  epochs: 60
  sync_bn: True
val:
  interval: 1
  weight_path: weights
  conf_thresh: 0.05
  iou_thresh: 0.5
  max_det: 300

gpus: 4,5,6,7